<div class="timeline-container">
  <div class="scale-container" #scroll>
    <div class="scale" [ngStyle]="{'width.px': 1920*span+40}">
      <div class="line" *ngFor="let time of times; index as i" [ngStyle]="{'left.px': 40+80*i}"></div>
      <div class="line dashed" *ngFor="let time of times; index as i" [ngStyle]="{'left.px': 80+80*i}"></div>
      <div class="daily" *ngFor="let snap of daily" [title]="snap.status"
        [ngStyle]="{'left.px': 32+((snap.timestamp-start)/(3600*1000)*80)}"
        [ngClass]="{'failed': snap.status==='failed'}">{{snap.status==='failed' ? '!' : ''}}
      </div>
      <div class="minutely" *ngFor="let snap of minutely" [title]="snap.status"
        [ngStyle]="{'left.px': 32+((snap.timestamp-start)/(3600*1000)*80)}"
        [ngClass]="{'failed': snap.status==='failed'}">{{snap.status==='failed' ? '!' : ''}}
      </div>
      <div class="hourly" *ngFor="let snap of hourly" [title]="snap.status"
        [ngStyle]="{'left.px': 32+((snap.timestamp-start)/(3600*1000)*80)}"
        [ngClass]="{'failed': snap.status==='failed'}">{{snap.status==='failed' ? '!' : ''}}
      </div>
      <div class="manual" *ngFor="let snap of manual" [title]="snap.status"
        [ngStyle]="{'left.px': 32+((snap.timestamp-start)/(3600*1000)*80)}"
        [ngClass]="{'failed': snap.status==='failed'}">{{snap.status==='failed' ? '!' : ''}}
      </div>
    </div>
    <div *ngIf="start" class="button-left">
      <i class="pi pi-chevron-circle-left left-btn" (click)="scrollToLeft(scroll)"></i>
    </div>
    <div *ngIf="start" class="button-right">
      <i class="pi pi-chevron-circle-right right-btn" (click)="scrollToRight(scroll)"></i>
    </div>
    <div class="times">
      <span class="time" *ngFor="let time of times">{{time}}</span>
    </div>
  </div>
  <div *ngIf="start" class="date">{{start + (scroll.scrollLeft/80)*3600*1000| date: 'MMM d'}}</div>
</div>
