.timeline-container {
  padding: 0.5rem 1rem;

  .scale-container {
    height: 9rem;
    width: 100%;
    overflow-x: hidden;
    position: relative;

    .scale {
      height: 7.2rem;
      width: 100%;
      background: whitesmoke;
      position: relative;
      padding: 0 2rem;

      .line {
        padding: 3.6rem 0.4px;
        background-color: lightgray;
        display: inline-block;
        position: absolute;
        left: 2rem;
      }

      .dashed {
        padding: 3.6rem 0px;
        border-left: 0.6px dashed lightgray;
        background-color: unset;
      }

      .daily {
        padding: 8px;
        background-color: skyblue;
        display: inline-block;
        position: absolute;
        bottom: 1.2rem;
      }

      .hourly {
        padding: 8px;
        background-color: blue;
        display: inline-block;
        position: absolute;
        bottom: 2.4rem;
      }

      .minutely {
        padding: 8px;
        background-color: blueviolet;
        display: inline-block;
        position: absolute;
        bottom: 4.8rem;
      }

      .manual {
        padding: 8px;
        background-color: orange;
        display: inline-block;
        position: absolute;
        bottom: 3.6rem;
      }

      .failed {
        background-color: red;
        padding: 3px 7.2px;
        z-index: 1;
        font-size: xx-small;
      }
    }


    .button-left {
      position: absolute;
      top: 3rem;
      left: 0rem;

      .left-btn {
        position: fixed;
        color: #007ad9;
        font-size: x-large;
      }
    }

    .button-right {
      position: absolute;
      top: 3rem;
      right: 1.5rem;

      .right-btn {
        position: fixed;
        color: #007ad9;
        font-size: x-large;
      }
    }

    .times {
      white-space: nowrap;

      .time {
        display: inline-block;
        width: 80px;
        text-align: center;
      }
    }
  }

  .date {
    margin-left: 1rem;
    background: whitesmoke;
    padding: 3px;
  }
}
