<div class="timeline-slider">
  <div class="date-picker">
    <p-calendar [(ngModel)]="rangeDates" (onSelect)="changeDate()" selectionMode="range" [readonlyInput]="true"
      [placeholder]="texts.CHANGE_DATE">
    </p-calendar>
  </div>
  <div class=" types">
    <div>
      <span class="type"><span class="dot daily"></span>{{texts.DAILY}} {{daily?.length}}</span>
      <span class="type"><span class="dot hourly"></span>{{texts.HOURLY}} {{hourly?.length}}</span>
      <span class="type"><span class="dot minutely"></span>{{texts.MINUTELY}} {{minutely?.length}}</span>
      <span class="type"><span class="dot manual"></span>{{texts.MANUAL_SNAPSHOT}} {{manual?.length}}</span>
    </div>
  </div>
  <app-timeline [start]="start" [end]="end" [span]="span" [daily]="daily" [hourly]="hourly" [minutely]="minutely"
    [manual]="manual">
  </app-timeline>
</div>
